body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

div.mainContent {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1#title {
  margin-top: 1300px;
  margin-bottom: 100px;
  color: black;
}

h1 {
  padding: 10px;
}

h1#bathrooms {
  margin-bottom: 500px;
}

h1#teacherDesks {
  margin-top: 200px;
  margin-bottom: 100px;
}


.tables {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 300px;
}

.table {
  width: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px;
}

.trio, .quad {
  height: 200px;
  width: 200px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.trio, .quad {
  border: 5px solid #696969;
}


button {
  background: #696969;
  background-image: -webkit-linear-gradient(top, #696969, #696969);
  background-image: -moz-linear-gradient(top, #696969, #696969);
  background-image: -ms-linear-gradient(top, #696969, #696969);
  background-image: -o-linear-gradient(top, #696969, #696969);
  background-image: linear-gradient(to bottom, #696969, #696969);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  text-align: center;
}

button:hover {
  background: #696969;
  background-image: -webkit-linear-gradient(top, #696969, #696969);
  background-image: -moz-linear-gradient(top, #696969, #696969);
  background-image: -ms-linear-gradient(top, #696969,#696969);
  background-image: -o-linear-gradient(top, #696969,#696969);
  background-image: linear-gradient(to bottom, #696969,#696969);
  text-decoration: none;
}

p {
  font-size: 1.3em;
  padding: 0.2em;
  border: 2px solid #696969;
  margin-top: 5px;
  text-align: center;
}
